.App {
  > .container {
    margin-top: 5rem;
  }
}

.AddTask {
  &__input {
    max-width: 400px;
    display: inline-block;
  }

  &__button {
    margin-left: 10px;
    margin-bottom: 5px;
  }
}

.TaskList {

  &__item {

    &:hover {
      .TaskList__icon {
        opacity: 1;
      }
    }
  }

  &__icon {
    margin-left: 5px;
    cursor: pointer;
    opacity: 0;
    transition: all .4s;

    &--green {
      color: #28a745;
    }

    &--red {
      color: #dc3545;
    }
  }
}